<!DOCTYPE html>
<html>

<head>
    <title>PasswordUpdate</title>
    <link href="/static/css/style2.css" rel='stylesheet' type='text/css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="App Sign in Form,Login Forms,Sign up Forms,Registration Forms,News latter Forms,Elements"
        . />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <script src="/static/js/update.js"></script>


</head>

<body>
    <h1> Password Update Form</h1>
    <div class="app-cam">
        <div class="cam"><img src="/static/img/cam.png" class="img-responsive" alt="" /></div>

        <form class="innerBox" action="" method="post" onsubmit="return password_check()">
            <br style="color:red" />{% csrf_token %}<br />
            <label class="aleStyle" style="color:red" id="error">
                {% for field in form %}
                {{ field.errors }}
                {% if field.help_text %}
                <p class="help">{{ field.help_text|safe }}</p>
                {% endif %}
                {% endfor %}
            </label>
            <input type="password" id="old_password" name="old_password" placeholder="Old Password" />
            <input type="password" id="password" name="password" placeholder="New Password" />
            <input type="password" id="password_confirmation" name="password_confirmation" placeholder="Password Confirmation" />

            <div class="submit"><input id="confirmBtn" type="submit" value="Confirm"></div>
        </form>

        <div class="clear"></div>
        <div class="new">
            <p><a href="/profile.html">Back to profile page</a></p>
            <div class="clear"></div>
        </div>
    </div>

</body>

</html>