<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>权限分配</title>
</head>
<body>

<form action="" method="POST">

    {% csrf_token %}
    <label class="label1">用户名称</label>
    <input id="user_w" name="user_w" readonly value="{{ user_w }}">
    <br/>配置权限：<br/>
    {% for role in role_list %}
        <input id='test' type="checkbox" value="{{ role.name }}" name="check_box_list"/>{{ role.name }}
    {% endfor %}
    <input type="submit" value="提交"/>
</form>

{#<script>#}
{#    $(document).ready(function () {#}
{#        $('#test').find('input[type=checkbox]').bind('click', function () {#}
{#            $('#test').find('input[type=checkbox]').not(this).attr("checked", false);#}
{#        });#}
{#    });#}
{#</script>#}
</body>
</html>