<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>角色列表</title>
</head>
<body>

    <form action="" method="post" class="search" >
        <p id="error_mess" style="color:red">{{ r_error }}</p>
        <label class="label1">请输入要查询的角色名称</label>
        <input id="s_name" name="s_name" type="text" class="s_name">
        <input class="se_R" type="submit" value="查询">

        {% csrf_token %}

    </form>
    <label class="label1">查询到的角色</label>
    <p>角色名： {{ user.name }}</p>
    <p>描述：   {{ user.description }}</p>

    <label class="label1">当前全部角色：</label><br>
    {% for role in role_list %}
        <form action="" method="post" class="con_list">
            <tr>
                <td>角色名：{{ role.name }}</td>
                <td>描述：  {{ role.description }}</td>
            </tr>
            {% csrf_token %}
        </form>
    {% endfor %}
    <div class="Buts">
        <a class="add_R" href="role_add.html">添加角色</a>
    </div>

    <form action="" method="post" class="del" >
        <p id="error_mess" style="color:red">{{ d_msg }}</p>
        <label class="label2">请输入要删除的角色名称</label>
        <input id="d_name" name="d_name" type="text" class="d_name">
        <input class="del_R" type="submit" value="删除">

        {% csrf_token %}

    </form>

</body>
</html>