<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h3>
                用户权限列表：
            </h3>
            <div class="row">
                <div class="col-md-12">
                    <form id="form_email" action="" method="POST">
                        {% csrf_token %}
                        <div class="col-md-3">
                            <div class="input-group">

                                <input type="text" class="form-control" placeholder="请输入要查找的用户名称" name="s_name">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit">查询</button>
                                </span>
                            </div>
                        </div>
                    </form>
                    <p id="error_mess" style="color:red">{{ msg }}</p>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>
                                    用户名称
                                </th>
                                <th>
                                    角色名称
                                </th>
                                <th>
                                    操作
                                </th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for user in out_list %}
                                <tr>
                                    <form action="permission_assign.html" method="post" class="u_list">
                                        </td>
                                        <td><input id="user_w" name="user_w" readonly style="border-style:none"
                                           value="{{ user.username }}"></td>
                                        <td><input id="user_w" name="user_w" readonly style="border-style:none"
                                           value="{{ user.rolename }}"></td>
                                        <td>
                                            <button type="submit" class="assign">授权</button>
                                        </td>
                                        {% csrf_token %}
                                    </form>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


{#<div>#}
{#    {% for user in out_list %}#}
{#        <form action="permission_assign.html" method="post" class="u_list">#}
{##}
{#            <input id="user_w" name="user_w" readonly style="border-style:none" value="{{ user.username }}">#}
{#            <input id="user_w" name="user_w" readonly style="border-style:none" value="{{ user.rolename }}">#}
{#            <button type="submit" class="assign">授权</button>#}
{##}
{#            {% csrf_token %}#}
{#        </form>#}
{##}
{#    {% endfor %}#}
{##}
{#</div>#}


</body>
</html>