<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>分配权限</title>
</head>
<body>

<div>
    <p id="error_mess">{{ list1 }}</p>
    <p id="error_mess">{{ list2 }}</p>
    <p id="error_mess">{{ list3 }}</p>


</div>

<form action="" method="post" class="AssignPanl" onsubmit="">
    <label class="label1">已分配人员列表（会签）</label>
    <input id="wsign_field" name="wsign_field" type="text" class="wsign_field">
    <label class="label2">已分配人员列表（审批）</label>
    <input id="approval_field" name="approval_field" type="text" class="approval_field">
    <label class="label2">已分配人员列表（签订）</label>
    <input id="sign_field" name="sign_field" type="text" class="sign_field">
    <div class="Buts">
        <input class="okBut" type="submit">
        <a class="logBut_R" href="{% url 'app:wcon_sel' %}">取消</a>
    </div>
</form>
</body>
</html>