<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>分配权限</title>
</head>
<body>
<div>
    <p>流程配置:{{ con_num }}</p>
</div>

<form action="" method="post" class="AssignPanl" >
    <input type="hidden" value="{{ con_num }}" name="conNum"/>
    <label class="label1">已分配人员列表（会签）</label>
    {% for role in role_list1 %}
        <input id='test' type="checkbox" value="{{ role.userName }}" name="check_box_list1"/>{{ role.userName }}
    {% endfor %}
    <br>
    <label class="label2">已分配人员列表（审批）</label>
    {% for role in role_list2 %}
        <input id='test' type="checkbox" value="{{ role.userName }}" name="check_box_list2"/>{{ role.userName }}
    {% endfor %}
    <br>
    <label class="label3">已分配人员列表（签订）</label>
    {% for role in role_list3 %}
        <input id='test' type="checkbox" value="{{ role.userName }}" name="check_box_list3"/>{{ role.userName }}
    {% endfor %}
    <input type="submit" value="确定"/>
    {% csrf_token %}
</form>
</body>
</html>