{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="content">
		<div class="right-align">
			<div class="row">
				<h1 class="title">合同流程查询</h1>
			</div>
			<div class="clearfix"></div>
			<div class="row">
				<form id="form_email" class="wid-limit" action="#" method="POST">
					<div class="input-group">
						<input type="text" class="form-control" name="name">
						<span class="input-group-btn">
							<button class="btn btn-primary" type="submit">查询合同信息</button>
						</span>
					</div>
				</form>
                <form id="form_email" action="#" method="POST">
                        <div class="btn-group dropdown">
                            <button class="btn btn-primary" data-toggle="dropdown">合同状态
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">显示全部</a></li>
                                <li><a href="#">已会签</a></li>
                                <li><a href="#">已审批</a></li>
                                <li><a href="#">已签订</a></li>
                            </ul>
                        </div>
                </form>
			</div>
			<div class="row">
					<table class="table">
						<thead>
							<tr>
                                <th>编号</th>
								<th>
									类型
								</th>
								<th>
									状态
								</th>
								<th>
									使用者
								</th>
							</tr>
						</thead>
						<tbody>
						{% if page %}
							{% for process in page.object_list%}
							<tr>
                                <td>{{ process.conNum }}</td>
								<td>{{process.type}}</td>
								<td>{{process.state}}</td>
								<td>{{process.username}}</td>
								<!--<td>-->
									<!--<a href="#" role="button"  class="btn btn-sm btn-danger" >删除</a>-->
								<!--</td>-->
							</tr>
							{% endfor %}
						{% endif %}
						</tbody>
					</table>
                <nav aria-label="Page navigation">
                        <ul class="pagination">

                            {% if page.has_previous %}
                                <li>
                                    <a href="{% url 'app:contract_select' page.previous_page_number %}" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>

                            {% else %}
                                <li class="disabled">
                                    <a href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                            {% endif %}

                            {% for p in pagerange %}
                                {% ifequal p currentpage %}
                                    <li class="active"><a href="{% url 'app:contract_select' p %}">{{ p }}</a></li>
                                {% else %}
                                    <li><a href="{% url 'app:contract_select' p %}">{{ p }}</a></li>
                                {% endifequal %}
                            {% endfor %}

                            {% if page.has_next %}
                                <li>
                                    <a href="{% url 'app:contract_select' page.next_page_number %}" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a></li>
                            {% else %}
                                <li class="disabled">
                                    <a href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a></li>
                            {% endif %}
                        </ul>
                    </nav>
			</div>
		</div>
	</div>
{% endblock %}

	<!-- footer -->
