<!DOCTYPE HTML>
<html>

<head>
	<title>{% block title %}Home{% endblock %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="" />
	<!-- css files -->
	<link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all" />
	<link href="/static/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all" />
	<link href="/static/css/jQuery.lightninBox.css" rel="stylesheet" type="text/css" media="all" />
	<link href="/static/css/team.css" rel="stylesheet" type="text/css" media="all" />
	<link href="/static/css/portfolio.css" rel="stylesheet" type="text/css" media="all" />
	<link href="/static/css/services.css" rel="stylesheet" type="text/css" media="all" />
	<link href="/static/css/pogo-slider.min.css" rel="stylesheet" type="text/css" media="all" />
	<link href="/static/css/nav.css" rel="stylesheet" type="text/css" media="all" />
	<link href="/static/css/aos.css" rel="stylesheet" type="text/css" media="all" />
	<link href="/static/css/style.css" rel="stylesheet" type="text/css" media="all" />
	<!-- /css files -->
	<!-- fonts -->
	<link href="http://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900" rel="stylesheet">
	<link href="http://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
	<link href="/static/css/font-awesome.min.css" media="all" rel="stylesheet" type="text/css">
	<!-- fonts -->
	<!-- js files -->
	<script src="/static/js/modernizr.js"></script>
	<!-- /js files -->
</head>

<body>
	{% block content %}

	{% endblock %}
	<!-- js files -->
	<script src="/static/js/jquery.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/smoothscroll.js"></script>
	<script src='/static/js/aos.js'></script>
	<script src="/static/js/lazyload.js"></script>
	<script src="/static/js/jquery.easing.min.js"></script>
	<script src="/static/js/grayscale.js"></script>
	<script src="/static/js/jarallax.js"></script>
	<script type="text/javascript">
		$('.jarallax').jarallax({
			speed: 0.5,
			imgWidth: 1680,
			imgHeight: 925
		})
	</script>
	<!-- js for back to top -->
	<script src="/static/js/main2.js"></script>
	<!-- /js for back to top -->
	<!-- js for footer -->
	<script src="/static/js/jQuery.lightninBox.js"></script>
	<script type="text/javascript">
		$(".lightninBox").lightninBox();
	</script>
	<!-- /js for footer -->
	<!-- js for portfolio -->
	<script src="/static/js/imagesloaded.pkgd.min.js"></script>
	<script src="/static/js/masonry.pkgd.min.js"></script>
	<script src="/static/js/classie2.js"></script>
	<script src="/static/js/cbpGridGallery.js"></script>
	<script>
		new CBPGridGallery(document.getElementById('grid-gallery'));
	</script>
	<!-- /js for portfolio -->
	<!-- js for about section -->
	<script type="text/javascript" src="/static/js/jquery.slide.js"></script>
	<script type="text/javascript">
		$('#slideshow-banner').slide({
			cdTime: 5000,
			controllerLeftButton: "/static/images/left.png",
			controllerRightButton: "/static/images/right.png"
		});
	</script>
	<!-- /js for about section -->
	<!-- js for banner -->
	<script src="/static/js/jquery.pogo-slider.min.js"></script>
	<script src="/static/js/main.js"></script>
	<!-- /js for banner -->
	<!-- js for navigation -->
	<script src="/static/js/classie.js"></script>
	<script src="/static/js/demo1.js"></script>
	<!-- /js for navigation -->

	<!-- /js files -->
</body>

</html>