{% extends 'base.html' %}

{% block title %}List Draft{% endblock %}

{% block content %}
<!-- banner -->
<div class="agile-banner">
</div>
<!-- //banner -->
<!-- products -->
<div class="agile-prod">
	<div class="container">
		<h2 class="w3ls_head">我的 <span>合同</span></h2>
		<div class="bs-docs-example">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>编号</th>
						<th>合同名称</th>
						<th>起草时间</th>
						<th>合同操作</th>
					</tr>
				</thead>
				<tbody>
					{% for contract in contract_list%}
					<tr>
						<td>{{contract.num}}</td>
						<form action="/contractInfo/" method="post" id="{{contract.num}}">
							{% csrf_token %}
							<input type="hidden" name="num" value="{{contract.num}}">
							<td><a href="javascript:document.getElementById({{contract.num}}).submit();">{{contract.name}}</a></td>
						</form>
						<td>{{contract.time}}</td>
						{% if contract.state == '待定稿' %}
						<form action="/finalContract/" method="post">
							{% csrf_token %}
							<input type="hidden" name="num" value="{{contract.num}}">
							<td><input type="submit" class="btn btn-primary" name="table" value="定稿" style="font-size: 0.9em; padding: 0px 10px;"></td>
						</form>
						{% else %}
						<td>{{contract.state}}</td>
						{% endif %}
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
<!-- <script type="text/javascript">
	jQuery(document).ready(function () {
		$("form").submit(function () {
			alert("提交");
		});
	});
</script> -->
<!-- //products -->
{% endblock %}