{% extends 'base.html' %}

{% block title %}List Log{% endblock %}

{% block content %}
<!-- banner -->
<div class="agile-banner">
</div>
<!-- //banner -->
<!-- products -->
<div class="agile-prod">
	<div class="container">
		<h2 class="w3ls_head">日志 <span>信息</span></h2>
		<div class="bs-docs-example">
			<table class="table table-striped" id="item">
				<thead>
					<tr>
						<th>操作人</th>
						<th>操作内容</th>
						<th>操作时间</th>
					</tr>
				</thead>
				<tbody>
					{% for log in log_list%}
					<tr>
						<td>{{log.userName}}</td>
						<td>{{log.content}}</td>
						<td>{{log.time}}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			<button type="button" class="btn btn-primary" onclick="method5('item')">导出</button>
		</div>
	</div>
</div>
<script type="text/javascript">
	var idTmr;
	function getExplorer() {
		var explorer = window.navigator.userAgent;
		//ie
		if (explorer.indexOf("MSIE") >= 0) {
			return 'ie';
		}
		//firefox
		else if (explorer.indexOf("Firefox") >= 0) {
			return 'Firefox';
		}
		//Chrome
		else if (explorer.indexOf("Chrome") >= 0) {
			return 'Chrome';
		}
		//Opera
		else if (explorer.indexOf("Opera") >= 0) {
			return 'Opera';
		}
		//Safari
		else if (explorer.indexOf("Safari") >= 0) {
			return 'Safari';
		}
	}
	function method5(tableid) {
		if (getExplorer() == 'ie') {
			var curTbl = document.getElementById(tableid);
			var oXL = new ActiveXObject("Excel.Application");
			var oWB = oXL.Workbooks.Add();
			var xlsheet = oWB.Worksheets(1);
			var sel = document.body.createTextRange();
			sel.moveToElementText(curTbl);
			sel.select();
			sel.execCommand("Copy");
			xlsheet.Paste();
			oXL.Visible = true;

			try {
				var fname = oXL.Application.GetSaveAsFilename("Excel.xls", "Excel Spreadsheets (*.xls), *.xls");
			} catch (e) {
				print("Nested catch caught " + e);
			} finally {
				oWB.SaveAs(fname);
				oWB.Close(savechanges = false);
				oXL.Quit();
				oXL = null;
				idTmr = window.setInterval("Cleanup();", 1);
			}

		}
		else {
			tableToExcel(tableid)
		}
	}
	function Cleanup() {
		window.clearInterval(idTmr);
		CollectGarbage();
	}
	var tableToExcel = (function () {
		var uri = 'data:application/vnd.ms-excel;base64,',
			template = '<html><head><meta charset="UTF-8"></head><body><table>{table}</table></body></html>',
			base64 = function (s) { return window.btoa(unescape(encodeURIComponent(s))) },
			format = function (s, c) {
				return s.replace(/{(\w+)}/g,
					function (m, p) { return c[p]; })
			}
		return function (table, name) {
			if (!table.nodeType) table = document.getElementById(table)
			var ctx = { worksheet: name || 'Worksheet', table: table.innerHTML }
			window.location.href = uri + base64(format(template, ctx))
		}
	})()
</script>
<!-- //products -->
{% endblock %}