{% extends 'base.html' %}

{% block title %}List Log{% endblock %}

{% block content %}
<!-- banner -->
<div class="agile-banner">
</div>
<!-- //banner -->
<!-- products -->
<div class="agile-prod">
	<div class="container">
		<h2 class="w3ls_head">日志 <span>信息</span></h2>
		<div class="bs-docs-example">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>操作人</th>
						<th>操作内容</th>
						<th>操作时间</th>
					</tr>
				</thead>
				<tbody>
					{% for log in log_list%}
					<tr>
						<td>{{log.userName}}</td>
						<td>{{log.content}}</td>
						<td>{{log.time}}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
<!-- //products -->
{% endblock %}