{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
<!-- banner -->
<div class="agile-banner">
</div>
<!-- //banner -->
<!-- about -->
<div class="services-w3ls">
	<div class="container">
		<h2 class="w3ls_head">About <span>Us</span></h2>
		<div class="agile_banner_bottom_grids">
			<div class="col-md-6 w3layouts_about_grid_left">
				<h4>About Solar Energy</h4>
				<p>Cras molestie lacus et libero vehicula semper. Pellentesque ac leo quis enim
					ultrices mollis. Duis ornare in dolor non ultricies. Integer nec sem diam.
					In sed urna at mi fringilla malesuada.
					<i>"Aenean efficitur vitae ligula eget vulputate.
						Donec id ligula lorem. Nam ipsum odio, rutrum a nisl non, scelerisque iaculis ex.</i>
					Integer mattis efficitur scelerisque. Phasellus malesuada metus vitae orci condimentum,
					non blandit lacus consectetur. </p>
			</div>
			<div class="col-md-6 w3layouts_about_grid_right">
				<iframe src="https://player.vimeo.com/video/25401444"></iframe>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<!-- //about -->
<!--stats-->
<div class="stats">
	<div class="container">
		<div class="stats-info">
			<div class="col-md-3 col-sm-3 stats-grid slideanim">
				<div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='1200' data-delay='.5'
				 data-increment="1">1200</div>
				<h4 class="stats-info">Followers</h4>
			</div>
			<div class="col-md-3 col-sm-3 stats-grid slideanim">
				<div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='3000' data-delay='.5'
				 data-increment="1">3000</div>
				<h4 class="stats-info">Support</h4>
			</div>
			<div class="col-md-3 col-sm-3 stats-grid slideanim">
				<div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='9000' data-delay='.5'
				 data-increment="10">9000</div>
				<h4 class="stats-info">Clients</h4>
			</div>
			<div class="col-md-3 col-sm-3 stats-grid slideanim">
				<div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='169' data-delay='.5'
				 data-increment="1">169</div>
				<h4 class="stats-info">Awards</h4>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<!--//stats-->

<!-- team -->
<div class="services team">
	<div class="container">
		<h3 class="w3ls_head">Meet <span>Our Team</span></h3>
		<div class="agile_banner_bottom_grids">
			<div class="col-md-3 agile_team_grid">
				<div class="agileits_w3layouts_team_grid">
					<img src="/static/images/t1.jpg" alt=" " class="img-responsive" />
					<div class="agileits_w3layouts_team_grid_pos">
						<div class="w3ls-social">
							<a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
							<a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
							<a class="pinterest" href="#"><i class="fa fa-pinterest-p"></i></a>
							<a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>
						</div>
					</div>
				</div>
				<h4>Williamson</h4>
				<p>Designer</p>
			</div>
			<div class="col-md-3 agile_team_grid">
				<div class="agileits_w3layouts_team_grid">
					<img src="/static/images/t2.jpg" alt=" " class="img-responsive" />
					<div class="agileits_w3layouts_team_grid_pos">
						<div class="w3ls-social">
							<a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
							<a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
							<a class="pinterest" href="#"><i class="fa fa-pinterest-p"></i></a>
							<a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>
						</div>
					</div>
				</div>
				<h4>Laura </h4>
				<p>Manager</p>
			</div>
			<div class="col-md-3 agile_team_grid">
				<div class="agileits_w3layouts_team_grid">
					<img src="/static/images/t3.jpg" alt=" " class="img-responsive" />
					<div class="agileits_w3layouts_team_grid_pos">
						<div class="w3ls-social">
							<a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
							<a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
							<a class="pinterest" href="#"><i class="fa fa-pinterest-p"></i></a>
							<a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>
						</div>
					</div>
				</div>
				<h4>Thomas</h4>
				<p>CEO / PHP Developer</p>
			</div>
			<div class="col-md-3 agile_team_grid">
				<div class="agileits_w3layouts_team_grid">
					<img src="/static/images/t4.jpg" alt=" " class="img-responsive" />
					<div class="agileits_w3layouts_team_grid_pos">
						<div class="w3ls-social">
							<a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
							<a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
							<a class="pinterest" href="#"><i class="fa fa-pinterest-p"></i></a>
							<a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>
						</div>
					</div>
				</div>
				<h4>Rosy </h4>
				<p>PHP Developer</p>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<!-- //team -->
{% endblock %}