{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block content %}
<!-- banner -->
<div class="agile-banner">
</div>
<!-- //banner -->
<!--contact-->
<div class="contact w3l-2">
	<div class="container">
		<h2 class="w3ls_head">Register <span>Account</span></h2>
		<div class="contact-grids">
			<div class="col-md-7 contact-grid agileinfo-5">
				<h4>Your Message</h4>
				<p>Lorem Ipsum is inting and typesetting in simply dummy text of the printing and typesetting industry. Lorem Ipsum
					has been the is dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
					make a type specimen book.</p>
				<form action="#" method="post">
					<label>Username</label>
					<input type="text" name="Username" placeholder="Username" required="">
					<label>Email</label>
					<input type="email" name="Email" placeholder="Email address" required="">
					<label>Password</label>
					<input type="password" name="Password1" placeholder="Password" required="">
					<label>Password Confirmation</label>
					<input type="password" name="Password2" placeholder="Password Confirmation" required="">
					<input type="submit" value="Register">
				</form>
			</div>
			<div class="col-md-5 contact-grid agileits-5">
				<div class="contact-left">
					<h4> Address</h4>
					<div class="cont-info">
						<h5>Address</h5>
						<p>7th Street, Melbourne City, Australiae</p>
						<h5>Email</h5>
						<a href="mailto:example@mail.com"> example@mail.com</a>
						<h5>Phone</h5>
						<p> +080 264 995</p>
					</div>
				</div>
				<div class="contact-bottom wthree-5">
					<h4>Get connected</h4>
					<p>Lorem Ipsum is inting and typesetting in simply dummy text of the printing and typesetting industry. Lorem
						Ipsum has been the is dummy text ever since the 1500s, when an unknown printer took a galley of type and
						scrambled it to make a type specimen book.</p>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<!--contact-->
{% endblock %}