<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="" method="POST">

    合同管理<br /><br />
    <input type="checkbox" value="1-1" name="check_box_list"/>起草合同
    <input type="checkbox" value="1-2" name="check_box_list"/>定稿合同
    <input type="checkbox" value="1-3" name="check_box_list"/>查询合同
    <input type="checkbox" value="1-4" name="check_box_list"/>删除合同
    流程管理<br /><br />
    <input type="checkbox" value="1-1" name="check_box_list"/>会签合同
    <input type="checkbox" value="1-2" name="check_box_list"/>审批合同
    <input type="checkbox" value="1-3" name="check_box_list"/>签订合同
    <br /><br />
    <input type="checkbox" value="1-4" name="check_box_list"/>分配会签
    <input type="checkbox" value="1-2" name="check_box_list"/>分配审批
    <input type="checkbox" value="1-3" name="check_box_list"/>分配签订
    <input type="checkbox" value="1-4" name="check_box_list"/>流程查询
    用户管理<br /><br />
    <input type="checkbox" value="1-1" name="check_box_list"/>新增用户
    <input type="checkbox" value="1-2" name="check_box_list"/>编辑用户
    <input type="checkbox" value="1-3" name="check_box_list"/>查询用户
    <input type="checkbox" value="1-4" name="check_box_list"/>删除用户
    权限管理<br /><br />
    <input type="checkbox" value="1-1" name="check_box_list"/>配置权限
    客户管理<br /><br />
    <input type="checkbox" value="1-1" name="check_box_list"/>新增客户
    <input type="checkbox" value="1-2" name="check_box_list"/>编辑客户
    <input type="checkbox" value="1-3" name="check_box_list"/>查询客户
    <input type="checkbox" value="1-4" name="check_box_list"/>删除客户
    <br /><br />
    <input type="submit" value="提交"/>
</form>

</body>
</html>