<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>待分配合同列表</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h3>
                待分配合同列表：
            </h3>
            <div class="row">
                <div class="col-md-12">
                    <form id="form_email" action="" method="POST">
                        {% csrf_token %}
                        <div class="col-md-3">
                            <div class="input-group">

                                <input type="text" class="form-control" placeholder="请输入要查找的合同编号" name="num">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit">查询</button>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>
                                    合同编号
                                </th>
                                <th>
                                    起草时间
                                </th>
                                <th>
                                    操作
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for contract in wcon_list %}
                                <tr>
                                    <form action="contract_assign.html" method="post" class="con_list">
                                        <td><input id="conNum" name="conNum" style="border-style:none" readonly
                                                   value="{{ contract.conNum }}">
                                        </td>
                                        <td>{{ contract.time }}</td>
                                        <td>
                                            <button type="submit" class="assign">分配</button>
                                        </td>
                                        {% csrf_token %}
                                    </form>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


{#<div>#}
{##}
{#    <table class="table">#}
{#        <thead>#}
{#        <tr>#}
{#            <th>合同编号</th>#}
{##}
{#            <th>#}
{#                起草时间#}
{#            </th>#}
{#            <th>#}
{#                操作#}
{#            </th>#}
{##}
{#        </tr>#}
{#        </thead>#}
{#        <tbody>#}
{#        {% for contract in wcon_list %}#}
{#            <tr>#}
{#                <form action="contract_assign.html" method="post" class="con_list">#}
{#                    <td><input id="conNum" name="conNum" readonly value="{{ contract.conNum }}"></td>#}
{#                    <td>{{ contract.time }}</td>#}
{#                    <td>#}
{#                        <button type="submit" class="assign">分配</button>#}
{#                    </td>#}
{#                    {% csrf_token %}#}
{#                </form>#}
{#            </tr>#}
{#        {% endfor %}#}
{##}
{#        </tbody>#}
{#    </table>#}
{##}
{##}
{#</div>#}

</body>
</html>