{% extends 'base.html' %}

{% block title %}待分配权限用户{% endblock %}

{% block content %}

    <div class="typo">
        <div class="container">
            <h2 class="w3ls_head">权限<span>分配</span></h2>
            <div class="col-lg-6 in-gp-tb">
                <form id="form_email" action="" method="POST">
                    {% csrf_token %}
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="请输入要查找的用户名称..." name="s_name">
                        <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">查询</button>
                        </span>
                    </div><!-- /input-group -->
                </form>
            </div><!-- /.col-lg-6 -->

            <div class="bs-docs-example">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>用户名称</th>
                        <th>角色名称</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in out_list %}
                        <tr>
                            <form action="permission_assign.html" method="post" class="u_list">
                                <input type="hidden" value="{{ user.username }}" name="user_w"/>
                                </td>
                                <td>{{ user.username }}</td>
                                <td>{{ user.rolename }}</td>
                                <td>
                                    <button type="submit" class="assign">授权</button>
                                </td>
                                {% csrf_token %}
                            </form>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}
