<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div>

    {% for right_l in right_list %}
        <form action="" method="post" class="r_list">
            <tr>
                <td>{{ right_l.userName }}</td>
                <td>{{ right_l.roleName }}</td>
            </tr>
            {% csrf_token %}
        </form>

    {% endfor %}
    {% for user in user_list %}
        <form id='per_a' action="permission_assign.html" method="post" class="u_list">

            <input id="user_w" name="user_w" readonly value="{{ user.username }}">
            <button type="submit" class="assign">授权</button>

            {% csrf_token %}
        </form>

    {% endfor %}

</div>



</body>
</html>